body{
margin:0;
font-family:Poppins;
background:#0f172a;
color:white;
text-align:center;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#020617;
}

.logo{
font-size:24px;
font-weight:bold;
}

.logo span{
color:#8b5cf6;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

.hero{
margin-top:80px;
}

.prompt-box{
margin-top:30px;
}

input{
padding:12px;
border-radius:10px;
border:none;
width:200px;
margin-right:10px;
}

.btn3d{
padding:12px 25px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#8b5cf6,#ec4899);
color:white;
font-weight:bold;
cursor:pointer;
box-shadow:0 10px 20px rgba(0,0,0,0.5);
transition:0.3s;
}

.btn3d:hover{
transform:translateY(-3px);
box-shadow:0 15px 30px rgba(0,0,0,0.7);
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:80px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:30px;
border-radius:20px;
width:250px;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
color:black;
padding:30px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:10px;
width:250px;
}
